:root{
    --background:#101114;
    --primary-color:#1c1D20;
    --secondary-color:#4A4D57;
    --accent-color:#613abc;
    --text-color:#F9F9F9;

}
*{
    margin: 0;
    padding: 0;
}
html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16pt;
    color: var(--text-color);

}
body{
    min-height: 100vh;
    padding: 10px;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    margin-top: 100px;
    margin-bottom: 20px;
    font-size: 3rem;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    color: var(--accent-color);
}

.wrapper{
    width: 700px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#todo-input{
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    background: none;
    border: 2px solid var(--secondary-color);
    border-radius: 100px;
    font: inherit;
    color: var(--text-color);
    caret-color: var(--accent-color);
}
#todo-input:focus{
    outline:none;
}
form{
    position: relative;
}
#add-button{
    position:absolute;
    top: 0;
    right: 0;
    background-color: var(--accent-color);
    height: 100%;
    padding: 0 30px;
    border: none;
    border-radius: 100px;
    font: inherit;
    font-weight: 600;
    color: var(--background);
    cursor: pointer;
}
#add-button:hover{
   background-color: #5b4198;

}
 .todo{
    margin-bottom: 10px;
    padding: 0 16px;
    background-color: var(--primary-color);
    border-radius: 14px;
    display: flex;
    
}
.todo .todo-text{
    padding: 15px;
    padding-right: 0;
    flex-grow: 1;  it allows the todo text to occupie the space of the container and push the remaining element to the end of the container
    transition: 200ms ease;

}


.delete-button{
padding: 3px;
background: none;
border: none;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
}
.delete-button:hover {
      background-color: rgb(147, 1, 1);
}
.custom-checkbox{
    border: 1px solid var(--accent-color);
    border-radius:50%;
    padding:15px;
    min-height:6px;
    min-width: 15px;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-shrink: 0;
    margin: 10px;
    transition: 200ms ease;
    cursor: pointer;
}
.custom-checkbox img{
opacity: 0.10;
object-fit: cover;
}
input[type="checkbox"]:checked ~ .custom-checkbox{
    background-color: var(--accent-color);
}
input[type="checkbox"]:checked ~ .custom-checkbox img{
    fill: var(--primary-color);
}
input[type="checkbox"]:checked ~ .todo-text{
    text-decoration: line-through;
    color: var(--secondary-color);
}
input[type="checkbox"]{
    display: none;/*it is use to hide the check box in d css design*/
}
@media(max-width:500px){
    html{
        font-size: 12pt;
    }
    #add-button{
        position: unset;
        width: 100%;
        margin-top: 10px;
        padding: 12px; 
        height: auto;
}
    h1{
        margin-top: 50px;
        font-size: 15vw;/*it is a unit that is smaller in smaller devices and bigger in larger devices*/

}
}
    
    